$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>registro</title>
    </head>
    <body>
        
        $message
        <center>
        <h1>ACTUALIZAR SUCURSALES</h1>
        <form method="POST">
            <p>NOMBRE</p>
            <input type="name" name="name" id="name"   ><br>
            <br>
            <p>TEMPERATURA</p>
            <input type="temperatura" name="temperatura" id="temperatura"><br>
            <br>
            <p>HUMEDAD</p>
            <input type="humedad" name="humedad" id="humedad"><br>
          <br>
          <br>
            <input type="submit" value="registro" class="btn btn-dark"><br>
            <center>
        </form>
    </body>
</html>