$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>registro</title>
    </head>
    <body>
        
        $message
        <center>
        <h1>Eliminar</h1>
        <form method="POST">
            <br>
            <p>NOMBRE DE SUCURSAL</p>
            <input type="name" readonly class="form-control" name="name" id="name" ><br>
            <br>
            <p>CAMPOS_1</p>
            <input type="temperatura" readonly class="form-control" name="temperatura" id="temperatura" ><br>
            <br>
            <p>CAMPOS_2</p>
            <input type="humedad" readonly class="form-control" name="humedad" id="humedad" ><br>
            <br>
            <input type="submit" value="Eliminar" class="btn btn-dark"><br>
            <center>
        </form>
    </body>
</html>